# FILE: requirements.txt

# The core libraries for our new, stable setup
pyarrow==14.0.1
evaluate
torch
transformers

langchain
langchain-google-genai
pandas
streamlit
playwright==1.49.0
python-dotenv

