# FILE: requirements.txt

# The core libraries for our new, stable setup
numpy==1.26.4
evaluate
torch
transformers
pyarrow

langchain
langchain-google-genai
pandas
streamlit
playwright==1.49.0
python-dotenv


